.thing {
    padding: 14px;
    font-size: large;
    font-weight: 500;
}

md-toast.md-success-toast-theme .md-toast-content {
    background-color: green;
}

md-toast.md-error-toast-theme .md-toast-content {
    background-color: red;
}

md-toast {
    top: 10px;
    right: 0px;
}

.line-height-72 {
    line-height: 72px;
}

.font-size-72 {
    font-size: 72px;
}

.light-blue-fg {
    color: #03A9F4!important;
}

.padding-top-9{
	padding-top: 9px;
}

.reading-display{
	text-align: -webkit-right;
	padding-right: 10px;
	color: #03A9F4;
	font-size: 22px;
}