* {
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.thing {
    padding: 0px;
    font-size: large;
    font-weight: 500;
}

md-toast.md-success-toast-theme .md-toast-content {
    background-color: green;
}

md-toast.md-error-toast-theme .md-toast-content {
    background-color: red;
}

md-toast {
    top: 10px;
    right: 0px;
}

.line-height-72 {
    line-height: 72px;
}

.font-size-72 {
    font-size: 72px;
}

.light-blue-fg {
    color: #03A9F4!important;
}

.padding-top-9{
	padding-top: 9px;
}

.reading-display{
	text-align: -webkit-right;
	padding-right: 10px;
	color: #03A9F4;
	font-size: 22px;
}

/* ---------------------- */
.heading {
    background-color: #14181C;
    height: 40px;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.logo {
    width: 133px;
    height: 27px;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    margin: 0px auto;
    margin-bottom: 0px;
}

/*CSS for serving the retina image to devices with a high "device-pixel-ratio":*/
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .logo {
        background-image: url(images/logo@2x.png);
        background-size: 133px 27px;
    }
}
